#hero .cell rect {
  fill: #efe7e7;
}
#hero .Q .triangle {
}
#hero .goal {
  fill: #44a;
}
#hero .cliff {
  fill: #a44;
}
#hero .control-panel {
  position: absolute;
  background-color: #efe7e7;
  border-radius: 8px;
}
#hero .control-panel h2 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 90%;
}

#hero .label{
  font-size: 14px;
}

#hero .tiny{
  font-size: 12px;
}

#hero .column {
    float: left;
    width: 31%;
    padding: 1%;
}