#playground .cell rect {
  fill: #e7e7e7;
}
#playground .Q .triangle {
}
#playground .goal {
  fill: #2d307b;
}
#playground .cliff {
  fill: #bd5f35;
}
#playground .control-panel {
  position: absolute;
  /*background-color: #efe7e7;*/
  border-radius: 0px;
  width: 170px;
}
#playground .control-panel h2 {
/*  margin-top: 15px;*/
  font-weight: bold;
  font-size: 90%;
}

#playground .label{
  font-size: 14px;
}

#playground .tiny{
  font-size: 12px;
}